@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    width: 100dvw;
    overflow-x: hidden;
    height: 100%;
    background: #000;
    border-color: #3b3b3b;
    user-select: none;
}

.screen-max-width{
    @apply max-w-[1120px] mx-auto;
}

.common-padding{
    @apply sm:px-10 px-5 sm:py-32 py-20;
}

.section-heading{
    @apply text-gray lg:text-6xl md:text-5xl text-3xl font-medium;
}